.search-results {
    width: 300px;
    height: 600px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-results ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.search-results ul li {
    margin-bottom: 5px;
}

.searchBoxResult img {
    margin-top: 10px;
    max-width: 300px;
}


.Search {
    flex: 1;
}


.day_list {
    justify-content: center;
}

.page {
    margin-left: 10px;
    margin-right: 5px;
}

.day_column {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    border-bottom: 1px solid #ccc;
}

.DayName {
    padding-top: 5px;
    margin-bottom: 10px;
    text-align: left;
    flex: 1;
    font-size: 20px;
    text-transform: capitalize;
}

.day_column_right button {
    margin-top: 10px;
}

.exercisesList {
    padding-bottom: 10px;
    border: 3px solid #6a6a6a;
    border-radius: 10px;
    margin-bottom: 2px;
}

.left {
    margin-left: 75px;
}

.searchBox {
    background-color: rgb(255, 255, 255);
    width: 340px;
    height: 700px;
    z-index: 2;
    border: 4px solid rgb(81, 81, 81);
    border-radius: 10px;
}

.searchBoxResult {
    margin-top: 10px;
    overflow-y: scroll;
    height: 622px;
    border-top: 4px solid rgb(81, 81, 81);

}

.searchBoxResult::-webkit-scrollbar {
    width: 10px;
    background-color: rgb(51, 51, 51);
}

.searchBoxResult::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(255, 252, 252, 0.3);
}

.searchBoxResult::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: dodgerblue;
}