.Top_Bar {
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(35, 38, 41);
}

.RoutineList {
    order: 1;
}

.CurrentName {
    order: 2;
    flex: 1;
    text-align: center;
}

.Logout {
    order: 3;
    margin-left: 10px;
}

@media (max-width: 768px) {
    .Top_Bar {
        align-items: flex-start;
    }

    .RoutineList {
        flex-basis: 50%;
    }

    .Logout {
        flex-basis: 50%;
        text-align: right;
    }

    .CurrentName {
        display: none;
    }
}

ul {
    list-style-type: none;
    margin: 10px;
    padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Bahnschrift SemiBold", monospace;
}

.Name_h1 {
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

body::-webkit-scrollbar {
    width: 10px;
    background-color: rgb(51, 51, 51);
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(255, 252, 252, 0.3);
}

body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: dodgerblue;
}